<!DOCTYPE html>
<html ng-app="photoApp">
<title>Photograph</title>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="/stylesheets/background.css"/>
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
   <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
   <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.js"></script>
   <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular-animate.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="//unpkg.com/angular-ui-router/release/angular-ui-router.min.js"></script>
  <!-- <script src="/js/core.js"></script>  -->
 <script type="text/javascript" src="/app.js"></script>
 <script src="/bower_components/lodash/lodash.js"></script>
<script type="text/javascript" src="components/signin/login.controller.js"></script>
<script type="text/javascript" src="components/signup/signup.controller.js"></script>
<script type="text/javascript" src="services/authenticationService.js"></script>
<script type="text/javascript" src="services/registrationService.js"></script> 
<script type="text/javascript" src="services/getPhotosService.js"></script> 
<script src="http://code.angularjs.org/1.2.6/angular.js"></script>
<script type="text/javascript" src="components/landingpage/landingpage.controller.js"></script>
<!-- <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.js"></script> -->
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular-cookies.js"></script>
</head>
<body>

 <div ui-view="header" ></div>
 
       <div ui-view="content" class = "content"></div>
 
       <div ui-view="footer" class = "footer"></div>
 

</body>
</html>
