html, body {
  margin: 0;
  padding: 0;
}

.header {
    float: left;
    background: #3e474f;
    z-index: 100;
    transition: height 600ms 0s ease;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

.page-landing {

    float: left;
    clear:left;
 	  position:absolute;
    top:71px;
    bottom:200px;
    height: 100%;
    width: 100%;
    z-index:-1;
    overflow: auto;
}

.footer {
  background: #3e474f;
  position: fixed;
  clear: left;
  bottom: 0;
  z-index: 100;
  height: 30px;
  width: 100%;

}

#backgroundVideo {
   position: fixed;
   top: 50%;
   left: 50%;
   z-index: -1;
   min-width: 100%;
   min-height: 100%;
   width: auto;
   height: auto;
   transform: translate(-50%, -50%);
}

.content{
    overflow-y: auto;

}

.title {
  top: 40%;
  left: 40%;
  text-align: center;
  color: white;
  position: absolute;
}

#navigationBar {
  background: rgba(0,0,0,0.4);
}



.page-video.ng-enter {
    animation: scaleUp 1s ease-in;
}

.page-imageGrid.ng-enter {
  animation: slideUp 1s ease-in;
  width: 100px;
}

@keyframes slideUp {
  from 	{ transform:translateY(100%); }
  to 		{ transform: translateY(0); }
}

@keyframes slideDown {
  from 	{ transform:translateY(0); }
  to 		{ transform: translateY(100%); }
}

@keyframes scaleUp {
  from {opacity: 0.1;}
  to {opacity: transform(0.8);}
}
