body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.search{
  	border-right:0; 
	box-shadow:0 0 0; 
	border-color:#ccc;
  }

  .search-input{
   	margin-left:5px;
  	width:95%;
    overflow: hidden;

  }
 /*search glyphicon*/
.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}
.searchbutton{
	border:0;
    background:transparent;
}
.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}
 .myimage{
	height:300px;
	width:100%;
	border: 1px solid #ccc;
}


.desc {
    padding: 15px;
    text-align: center;
}
.myimage:hover {
    border: 1px solid #777;
    transform:scale(1.1);
}
#profileheader{
	margin-bottom:0px;
}