body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.search{
  	border-right:0;
	box-shadow:0 0 0;
	border-color:#ccc;

  }

  .search-input{
   	margin-left:5px;
  	width:80%;
    overflow: hidden;


  }
 /*search glyphicon*/
.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}
.searchbutton{
	border:0;
    background:transparent;
}
.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}
 .myimage{
	height:300px;
	width:100%;
	border: 1px solid #ccc;
  border-radius:20px;
  /*z-index:-1;*/
  box-shadow: 10px 10px 5px 		#F8F8F8 ;
  }


.desc {
    padding: 15px;
    text-align: center;
    transform:scale(1.1);

}

.img-desc{
 padding-top: 5%;
  z-index:inherit;
}
.myimage:hover {
    border: 1px solid #777;
    transform:scale(1.1);
}
#profileheader{
	margin-bottom:0px;
}


.btn-circle.btn-lg {
  background-color: orange;
  border-radius: 30px;
  position: fixed;
  right: 0px;
  bottom: 30px;
}

#Upload {
  display: none;
}

#uploadButton:hover {
  background-color: red;
}

#uploadButton:focus {
  outline: none;
}

.tableData {
  display: inline;
}

.img-thumbnail.img-thumbnail-custom{
  width: 150px;
  height: 150px;
}

#loader {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url('/images/page-loader.gif') no-repeat center center;
}
