<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	

	<div class="container">
		<h1 class="page-header ">Profile</h1>
		<div class="row">
			<!-- left column -->
			<div class="col-md-4 col-sm-6 col-xs-12">
				<div class="text-center">
					<img src="http://lorempixel.com/200/200/people/9/"
						class="avatar img-circle img-thumbnail" alt="avatar">
					<h6>Upload a different photo...</h6>
					<input type="file" class="text-center center-block well well-sm">
				</div>
			</div>
			<!-- edit form column -->
			<div class="col-md-8 col-sm-6 col-xs-12 personal-info">
			
				<h4>Personal info</h4>
				<form class="form-horizontal" role="form" ng-submit = "editProfileDetails()">
					<div class="form-group">
						<label class="col-lg-3 control-label">Name:</label>
						<div class="col-lg-8">
							<input ng-model='user.name' class="form-control" value="{{user.name}}" type="text">
						</div>
					</div>

					<div class="form-group">
						<label class="col-lg-3 control-label">Email:</label>
						<div class="col-lg-8">
							<input ng-model='user.email' class="form-control" value="{{user.email}}" type="text">
						</div>
					</div>
					<div class="form-group">
						<label class="col-lg-3 control-label">City:</label>
						<div class="col-lg-8">
							<input ng-model='user.city' class="form-control" value="{{user.city}}"  type="text">
						</div>
					</div>
			
			<div class="form-group">
				<label class="col-md-3 control-label">Username:</label>
				<div class="col-md-8">
					<input ng-model='user.username' disabled class="form-control" value="{{user.username}}" type="text">
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-3 control-label">Password:</label>
				<div class="col-md-8">
					<input ng-model='user.password' class="form-control" value="{{user.password}}"
						type="password">
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-3 control-label">Confirm password:</label>
				<div class="col-md-8">
					<input class="form-control" value="{{user.password}}"
						type="password">
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-3 control-label"></label>
				<div class="col-md-8">
					<input class="btn btn-primary" value="Save Changes" type="submit">
					<span></span> <input class="btn btn-default" value="Cancel"
						type="reset">
				</div>
			</div>
			</form>
		</div>
	</div>
	<br><br>
</body>
</html>