  <!-- div for angular templating -->
  <div id="main">
  	<div class="{{pageClass}}">
  	<div class="container" id="imagesContainer">
  <section>
    <a ui-sref="home">
      <h1 class=" text-center ">
        <span class="glyphicon glyphicon-chevron-up"></span>
      </h1>
    </a>
    <div class="page-header" id="images">
      <h2>Check some of our awesome photos.</h2>
    </div> <!-- end page-header -->
    <div class="row">
      <div class="col-lg-4">
        <div class="thumbnail">
          <img src="/images/image-1.jpg">
        </div>
      </div>
      <div class="col-lg-4">
        <div class="thumbnail">
          <img src="/images/image-2.jpg">
        </div>
      </div>
      <div class="col-lg-4">
        <div class="thumbnail">
          <img src="/images/image-3.jpg">
        </div>
      </div>
    </div> <!-- end row -->
  </section> <!-- end section -->
</div> <!-- end container -->


    </div>
  </div> <!-- end main -->
